.classificacao{

	height:136px;
	float:right;
	

}
.foto_lugar{
float: right;
height: 300px;
border-radius: 45%;
}

.icon_voltar{
	float:right;


}a.principal, a.icon_voltar{
	text-decoration: none;
	color: black;
}

a:hover.principal{
		text-decoration: none;
		background-color: purple;
}

a:hover.icon_voltar{
	text-decoration: none;
	color:gray;
}